*.css text working-tree-encoding=UTF-8
*.html text working-tree-encoding=UTF-8
*.ino text working-tree-encoding=UTF-8
*.js text working-tree-encoding=UTF-8
*.json text working-tree-encoding=UTF-8
*.md text working-tree-encoding=UTF-8
